<body>
	
<h1>Burritos!</h1>

<form action='/home' method='post'>
	<input type="text" name="name" placeholder="Name">
	<input type="text" name="protien" placeholder="Protien">
	<input type="text" name="wrapped" placeholder="Wrapped or nah?">
	<input type="text" name="spicy" placeholder="1-10, how spicy?">
	<input type="text" name="price" placeholder="Price?">
	<button type="submit" value="submit">SAVE IT!</button>
</form>











	<script src="/scripts/app.js"></script>
</body>