<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<form>
  Username:
  <input type="text" name="name"><br>
  Password:
  <input type="text" name="password">
  <br><br>

  <button> Submit </button>

</form>


</body>
</html>