<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
	<%= yield %>

	<script src="/scripts/app.js"></script>
	
</body>
</html>