<div class="container">

    <section id="pageNotFound">

        <div class="row">
            <div class="twelve columns">

                <h1>Oh snap!</h1>
                <h3>Something went seriously wrong, but we're not sure what it was.</h3>
                <h3>Please try again.</h3>

            </div>
        </div>

        <div class="row">
            <div class="twelve columns u-max-full-width">

                <img src='/images/oh_snap.jpg' alt='oh snap image' />

            </div>
        </div>

    </section>

</div>
