<div class="container">

    <div class="row">
        <div class="twelve columns">

            <h1>Edit Person</h1>

            <form action="/person/edit" method="POST">
                <input type="hidden" name="id" value="<%= person.id %>">

                <input type="text" name="first_name" value="<%= person.first_name %>">
                <input type="text" name="last_name" value="<%= person.last_name %>">

                <% if @person.sex = 'male' %>
                    <label>Sex</label>
                    <label for="male">
                        <input type="radio" name="sex" id="male" value="male" checked />
                        <span class="label-body">Male</span>
                    </label>
                    <label for="female">
                        <input type="radio" name="sex" id="female" value="female" />
                        <span class="label-body">Female</span>
                    </label>
                <% else %>
                    <label>Sex</label>
                    <label for="male">
                        <input type="radio" name="sex" id="male" value="male" />
                        <span class="label-body">Male</span>
                    </label>
                    <label for="female">
                        <input type="radio" name="sex" id="female" value="female" checked />
                        <span class="label-body">Female</span>
                    </label>
                <% end %>

                <input type="number" name="age" value="<%= person.age %>">

                <% if @person.married = 't' %>
                    <label>Married</label>
                    <label for="yes">
                        <input type="radio" name="married" id="yes" value="t" checked />
                        <span class="label-body">Yes</span>
                    </label>
                    <label for="no">
                        <input type="radio" name="married" id="no" value="f" />
                        <span class="label-body">No</span>
                    </label>
                <% else %>
                    <label>Married</label>
                    <label for="yes">
                        <input type="radio" name="married" id="yes" value="t" />
                        <span class="label-body">Yes</span>
                    </label>
                    <label for="no">
                        <input type="radio" name="married" id="no" value="f" checked />
                        <span class="label-body">No</span>
                    </label>
                <% end %>


                <input type="submit" value="Save Person">
            </form>

        </div>
    </div>

</div>
