body {
  background-color: #680099;
  color: white;
  font-family: 'helvetica', sans-serif;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body li {
  margin: 5px;
}
body h1 {
  font-size: 50px;
}
