body {
  background-color: #110D08;
  color: #C3C0BA;
  font-family: 'Raleway', sans-serif;
}
h1 {
  width: 90%;
  margin-left: 3%;
  text-align: center;
  padding: 20px;
  background-color: #8E5D14;
  border-radius: 3px;
  letter-spacing: 3px;
}
div {
  width: 80%;
  margin-left: 10%;
  border: 2px solid #8E5D14;
  border-radius: 2px;
}
div h4 {
  margin-left: 20px;
  padding: 10px;
  letter-spacing: 1.5px;
}
