<ul>
<% for (let @i = 0; while @i < @poke.length; @i++) {%>
<li>
<h1> Pokemon:</h1>
	name:	@poke[i].name
	type:	@poke[i].type
	skills:	@poke[i].skills
	level:	@poke[i].level
	exp:	@poke[i].exp
</li>
<%}%>
</ul>